body{
    font : 15px/1.5 Arial,Helvetica,sans-serif;
    padding:0;
    margin: 0;
    background-color: lightseagreen;
}
/*global*/
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
   
}
#boxes .container{
    display:flex;
    grid-template-columns: auto auto auto auto;
}
ul{
    margin: 0;
    padding: 0;
}

.button_1{
    height: 38px;
    background-color: lightseagreen;
    border: none;
    padding-left: 20px;
    padding-right:20px;
    color: white;
}
.dark{
    padding: 15px;
    background: black;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Header*/
header{
    background: orange;
    color: whitesmoke;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: white 3px solid;
}

header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}



header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}


header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color: lightseagreen;
    font-weight: bold;
}

header a:hover{
    color: lightseagreen;
    font-weight: bold;

}

/*showcase*/
#showcase{
    min-height: 400px;
    background:url('../img/IMG_7683.JPG');
    text-align: center;
    color: white;
    background-size:cover;
}
#showcase img{
    width: 100%;
    height: 100%;
    display:block;
      
}
#showcase h1{
    margin-top: 100px;
    font: 55px;
    margin-bottom: 10px;
}
#showcase p{
    font-size: 20px;
}
/*newsletter*/
#newsletter{
    padding: 15px;
    color: aliceblue;
    background:orange ;
}

#newsletter h1{
    float: left;
}
#newsletter form{
    float: right;
    margin-top: 15px;
}

#newletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

/*boxes*/

#boxes{
    margin-top:20px;
}

#boxes .box{
    float: left;
    align-items: center;
    text-align: center;
    width: 30%;
    padding: 10px;
}
#boxes .box img{
    width: 80%;
}

@media (max-width: 768px) {
    .navigation {
      flex-direction: column; /* Stack divs vertically on smaller screens */
    }
    
    #branding,
    .rightside {
      width: auto; /* Allow divs to take full width on smaller screens */
    }
}
.container{
    #nigga{
    text-decoration: solid;
    color:rebeccapurple;
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    }
}

footer{
    padding: 20px;
    margin-top: 20px;
    color: burlywood;
    background-color: orangered;
    text-align: center;
}



/* main-col*/
article#main-col{
    float: left;
    width: 65%;
}
/* sidebar */
aside#sidebar{
    float: right;
    width: 30%;
    margin-top:10px ;
}

.audio1{
 width: 30%;;
}

.container-about{
    display: flex;
      justify-content: center;
      text-align: center;
}
.container-about img {
width: 200px; /* Set a fixed width */
height: 250px; /* Set a fixed height */
object-fit: cover; /* Optional: Ensure images maintain aspect ratio */
margin: 10px; /* Optional: Add margin between images */
}

.novakdjokovic{
    background-image:url('/img/IMG_7683.JPG');
   
  background-size:cover;
}